<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Protein API Data">
        <meta name="keywords" content="HTML,advanced web dev">
    </head>
    <body>
        <h1>Protein Data API</h1>
        <p>Available Endpoints:</p>
        <ul>
            <li>[POST] /api/protein/</li>
            <li>[GET] /api/protein/&lt;protein_id&gt;</li>
            <li>[GET] /api/proteins/&lt;taxa_id&gt;</li>
            <li>[GET] /api/pfam/&lt;pfam_id&gt;</li>
            <li>[GET] /api/pfams/&lt;taxa_id&gt;</li>
            <li>[GET] /api/coverage/&lt;protein_id&gt;</li>
        </ul>
    </body>
</html>